*      text=auto
*.java text diff=java
*.json text
*.md   text diff=markdown
*.png  binary
*.txt  text
*.xml  text

.editorconfig  text
.gitattributes text export-ignore
.gitignore     text export-ignore

# Overrides
.vscode/*.json linguist-language=jsonc
